/* CSS Reset Starts */
/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box; }

/*
      2. Remove default margin
    */
* {
  margin: 0; }

/*
      3. Allow percentage-based heights in the application
    */
html,
body {
  background-color: var(--body--background--color);
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  scroll-behavior: smooth; }

/*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
    */
body {
  -webkit-font-smoothing: antialiased;
  padding-top: 60px;
  overflow-x: hidden; }
  @media (min-width: 57.5em) {
    body {
      padding-top: 0; } }

/*
      6. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

/*
      7. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit; }

/*
      8. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

/*
      9. Create a root stacking context
    */
#root,
#__next {
  isolation: isolate; }

::-moz-selection {
  /* Code for Firefox */
  color: #f9e3ee;
  background: #e84c89; }

::selection {
  color: #f9e3ee;
  background: #e84c89; }

/* CSS Reset Ends */
/* Header Section Strarted */
.header {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  line-height: 20px;
  z-index: 10;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }
  @media (min-width: 57.5em) {
    .header {
      height: 80px;
      position: relative; } }
  .header__menu-div {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    cursor: pointer; }
    @media (min-width: 57.5em) {
      .header__menu-div {
        display: none; } }
    .header__menu-div--svg {
      fill: #9e9ea7;
      font-weight: 400;
      width: 18px;
      height: 18px; }
  .header__dribbble-div {
    margin-right: -36px;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0;
    flex-grow: 0;
    flex-shrink: 0; }
    @media (min-width: 57.5em) {
      .header__dribbble-div {
        margin-left: 24px;
        margin-right: 0; } }
    .header__dribbble-div--svg:hover {
      cursor: pointer; }
      @media (min-width: 57.5em) {
        .header__dribbble-div--svg:hover {
          opacity: 0.6; } }
    .header__dribbble-div--links {
      display: none;
      flex-direction: row;
      align-items: stretch;
      align-self: stretch;
      gap: 12px;
      list-style: none;
      margin-right: auto;
      margin-left: 22px;
      padding-left: 0;
      font-size: 15px;
      color: #6e6d7a; }
      @media (min-width: 57.5em) {
        .header__dribbble-div--links {
          display: flex; } }
      .header__dribbble-div--links li {
        font-weight: 500;
        font-family: inherit; }
        .header__dribbble-div--links li:hover {
          color: #0d0c22; }
        @media (min-width: 75em) {
          .header__dribbble-div--links li {
            padding-left: 10px;
            padding-right: 10px; } }
      .header__dribbble-div--links--parent {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header__dribbble-div--links--parent .header__dribbble-div--links--link {
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          text-decoration: none;
          color: inherit; }
        .header__dribbble-div--links--parent .hr__li {
          padding-right: 32px;
          padding-left: 32px;
          list-style: none; }
          .header__dribbble-div--links--parent .hr__li hr {
            display: block;
            height: 1px;
            border: 0;
            background: #e7e7e9;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em; }
        .header__dribbble-div--links--parent__div {
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          color: #0d0c22;
          text-align: center;
          top: 85%;
          left: -32px;
          border-radius: 12px;
          overflow: hidden;
          /* Position the tooltip text - see examples below! */
          z-index: 1;
          box-shadow: 0px 10px 70px #00000026;
          transition: visibility 200ms linear, opacity 150ms linear; }
        .header__dribbble-div--links--parent:hover .header__dribbble-div--links--parent__div {
          visibility: visible;
          opacity: 1; }
        .header__dribbble-div--links--parent .lists-parent {
          background-color: #ffffff;
          padding: 16px 0;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          width: 100%; }
          .header__dribbble-div--links--parent .lists-parent .list {
            height: auto;
            width: 100%;
            list-style: none;
            vertical-align: baseline;
            display: list-item;
            padding: 0;
            line-height: 20px; }
            .header__dribbble-div--links--parent .lists-parent .list .list--link {
              display: flex;
              align-items: center;
              margin: 0 22px;
              padding: 15px 18px;
              border-radius: 12px;
              text-decoration: none; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .left--svg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                margin-right: 16px;
                border-radius: 6px;
                transition: background-color 200ms ease;
                background: #f8f8f8; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .left--svg .header__link--svg {
                  width: 20px;
                  height: 20px; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 75%;
                overflow: hidden; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div .middle__text--div--top-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 15px;
                  font-weight: 500;
                  color: #0d0c22; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div .middle__text--div--bottom-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  text-align: left;
                  margin-top: 4px;
                  color: #6e6d7a;
                  word-break: break-word;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .right__svg-div {
                margin-left: auto; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .right__svg-div--svg {
                  width: 12px;
                  height: 12px;
                  opacity: 0;
                  margin-right: 8px;
                  transition: transform 200ms ease-in, opacity 200ms ease-in; }
            .header__dribbble-div--links--parent .lists-parent .list:hover .right__svg-div--svg {
              transform: translateX(4px);
              opacity: 1; }
        .header__dribbble-div--links--parent .inspiration__div {
          width: 600px;
          height: 390px;
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0; }
          .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left {
            width: 400px; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .explore--icon {
              color: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--explore:hover .explore__svg {
              background-color: rgba(114, 78, 145, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .explore__right__svg-div {
              fill: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .new--icon {
              color: #e54f6d; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--new:hover .new__svg {
              background-color: rgba(229, 79, 109, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .new__right__svg-div {
              fill: #e54f6d; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .playoffs--icon {
              color: #74c4ba; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--playoffs:hover .playoffs__svg {
              background-color: rgba(116, 196, 186, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .playoffs__right__svg-div {
              fill: #74c4ba; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .blog--icon {
              color: #f8c630; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--blog:hover .blog__svg {
              background-color: rgba(248, 198, 48, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .blog__right__svg-div {
              fill: #f8c630; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .weekly--icon {
              color: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--weekly:hover .weekly__svg {
              background-color: rgba(114, 78, 145, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .weekly__right__svg-div {
              fill: #724e91; }
          .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right {
            width: 200px;
            background-color: #f8f8f8;
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            overflow: hidden;
            list-style: none; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right .browse {
              text-align: start;
              color: #0d0c22;
              font-size: 15px;
              font-weight: 500;
              padding-left: 36px; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right .pointer-curser {
              width: 100%;
              cursor: pointer; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links {
              padding: 0;
              margin: 0; }
              .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links a {
                padding: 9px 36px;
                font-size: 100%;
                text-align: start;
                display: block;
                transition: color 200ms ease;
                margin: 0;
                text-decoration: none;
                color: #6e6d7a;
                font-weight: 400;
                line-height: 20px; }
              .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links:hover a {
                color: #0d0c22; }
        .header__dribbble-div--links--parent .find-work__div {
          width: 400px;
          height: 327px; }
          .header__dribbble-div--links--parent .find-work__div .job--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--job:hover .job__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .job__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .find-work__div .freelance--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--freelance:hover .freelance__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .freelance__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .find-work__div .red__text {
            margin-left: 8px;
            background-color: #ea4c89;
            color: #ffffff;
            font-weight: 500;
            font-size: 10px;
            border-radius: 4px;
            padding: 0 4px;
            align-items: center; }
          .header__dribbble-div--links--parent .find-work__div .want--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--want:hover .want__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .want__right__svg-div {
            fill: #74c4ba; }
          .header__dribbble-div--links--parent .find-work__div .personalize--icon {
            color: #f8c630; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--personalize:hover .personalize__svg {
            background-color: rgba(248, 198, 48, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .personalize__right__svg-div {
            fill: #f8c630; }
        .header__dribbble-div--links--parent .learn-design__div {
          width: 400px;
          height: 430px; }
          .header__dribbble-div--links--parent .learn-design__div .certified--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--certified:hover .certified__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .certified__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .introduction--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--introduction:hover .introduction__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .introduction__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .learn-design__div .systems--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--systems:hover .systems__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .systems__right__svg-div {
            fill: #74c4ba; }
          .header__dribbble-div--links--parent .learn-design__div .career--icon {
            color: #f8c630; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--career:hover .career__svg {
            background-color: rgba(248, 198, 48, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .career__right__svg-div {
            fill: #f8c630; }
          .header__dribbble-div--links--parent .learn-design__div .browse--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--browse:hover .browse__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .browse__right__svg-div {
            fill: #724e91; }
        .header__dribbble-div--links--parent .go-pro__div {
          width: 400px;
          height: 242px; }
          .header__dribbble-div--links--parent .go-pro__div .for-designers--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-designers:hover .for-designers__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .go-pro__div .for-freelancers--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-freelancers:hover .for-freelancers__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .go-pro__div .for-teams--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-teams:hover .for-teams__svg {
            background-color: rgba(116, 196, 186, 0.1); }
        .header__dribbble-div--links--parent .hire-designers__div {
          width: 400px;
          height: 242px; }
          .header__dribbble-div--links--parent .hire-designers__div .designer--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--designer:hover .designer__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .designer__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .hire-designers__div .opening--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--opening:hover .opening__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .opening__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .hire-designers__div .post--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--post:hover .post__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .post__right__svg-div {
            fill: #74c4ba; }
  .header__sign-in-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px; }
    @media (min-width: 57.5em) {
      .header__sign-in-div {
        margin-right: 24px; } }
    .header__sign-in-div--sign-in {
      text-decoration: none;
      color: #6e6d7a;
      font-weight: 400; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--sign-in {
          margin-right: 3px; } }
    .header__sign-in-div--sign-up {
      position: relative;
      box-sizing: border-box;
      text-decoration: none;
      color: #6e6d7a;
      font-weight: 500;
      font-family: inherit;
      color: #ffffff;
      background-color: #ea4c89;
      padding: 10px 16px;
      height: 40px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 20px;
      margin-left: 18px;
      transition: background-color 200ms ease;
      display: none;
      border: none;
      outline: none;
      text-align: center; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--sign-up {
          display: inline-block; } }
      .header__sign-in-div--sign-up:hover {
        background-color: #ec82ac; }
    .header__sign-in-div--svg {
      fill: #9e9ea7;
      width: 18px;
      height: 18px;
      margin-right: 23px;
      margin-bottom: -4px;
      cursor: pointer;
      display: none; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--svg {
          display: inline-block; } }

.video-section {
  height: 650px;
  width: 100%;
  padding: 50px 20px;
  overflow: hidden;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  @media (min-width: 48em) {
    .video-section {
      height: 560px; } }
  .video-section__filter-buttons {
    z-index: 2;
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
    @media (max-width: 59.9375em) {
      .video-section__filter-buttons {
        width: calc(100% + 30px);
        padding: 15px 0 0; } }
    .video-section__filter-buttons--list {
      padding: 0 2px;
      white-space: nowrap;
      list-style: none;
      font-weight: 400;
      scroll-behavior: smooth;
      list-style: none;
      overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      /* Hide scrollbar for IE, Edge and Firefox */ }
      .video-section__filter-buttons--list::-webkit-scrollbar {
        display: none; }
      .video-section__filter-buttons--list {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */ }
      .video-section__filter-buttons--list li {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0; }
        .video-section__filter-buttons--list li a {
          display: inline-block;
          text-decoration: none;
          margin: 0;
          padding: 10px 15px;
          transition: all 0.4s ease-in-out;
          border-radius: 50px;
          background: rgba(0, 0, 0, 0.5);
          color: #ffffff;
          font-size: 14px; }
          @media (min-width: 48em) {
            .video-section__filter-buttons--list li a {
              margin: 0 5px;
              padding: 16px 20px;
              font-size: 16px;
              font-weight: 500; } }
        .video-section__filter-buttons--list li .first__white--button:first-of-type {
          background: #ffffff;
          color: #000;
          font-weight: 500; }
        .video-section__filter-buttons--list li a:hover {
          transition: color 200ms ease;
          color: #0d0c22;
          background: #ffffff; }
  .video-section--middle-text {
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 624px;
    text-align: center; }
    .video-section--middle-text h1 {
      max-width: 500px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 700;
      padding: 0;
      border: 0;
      color: #ffffff; }
      @media (min-width: 48em) {
        .video-section--middle-text h1 {
          font-size: 32px; } }
    .video-section--middle-text h2 {
      margin: 0;
      border: 0;
      font-size: 14px;
      margin-top: 16px;
      margin-bottom: 16px;
      line-height: 28px;
      padding: 0;
      color: #ffffff;
      text-align: center;
      font-weight: 400; }
      @media (min-width: 48em) {
        .video-section--middle-text h2 {
          font-size: 16px; } }
  .video-section__search {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px; }
    .video-section__search--icon {
      fill: currentColor;
      position: absolute;
      top: 20px;
      left: 25px;
      opacity: 0.5;
      width: 16px;
      height: 16px; }
    .video-section__search--form {
      margin: 0;
      padding: 0;
      margin: 0; }
      .video-section__search--form--label {
        position: absolute;
        width: 0;
        overflow: hidden;
        opacity: 0; }
      .video-section__search--form--input {
        padding: 28px 45px 28px 55px;
        border-radius: 50px;
        border: 1px solid transparent;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        width: 100%;
        height: 40px;
        outline: none;
        transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
        background-color: #f3f3f4;
        color: #0d0c22;
        appearance: none; }
        .video-section__search--form--input:hover {
          border-color: #0000001a;
          background-color: #fff;
          -webkit-box-shadow: 0 0 0 4px #ea4c891a;
          box-shadow: 0 0 0 4px #ea4c891a; }
        @media (min-width: 48em) {
          .video-section__search--form--input {
            font-size: 14px; } }
  .video-section__search-suggestions {
    z-index: 2;
    width: 100%;
    margin-top: 15px;
    line-height: 2.5;
    text-align: center;
    list-style: none;
    padding: 0;
    border: 0;
    font-weight: 400;
    color: #0d0c22; }
    @media (min-width: 48em) {
      .video-section__search-suggestions {
        margin-bottom: 30px; } }
    .video-section__search-suggestions .search--list {
      display: inline-block;
      margin: 0 3px; }
    .video-section__search-suggestions--header {
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      font-weight: 400;
      padding: 0;
      border: 0;
      list-style: none; }
    .video-section__search-suggestions--item {
      padding: 0;
      margin: 0;
      border: 0;
      line-height: 2.5;
      list-style: none; }
      .video-section__search-suggestions--item a {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 6px 15px;
        transition: all 0.2s ease-in-out;
        border: 1px solid #ffffff99;
        border-radius: 50px;
        color: #ffffff;
        text-decoration: none;
        margin: 0;
        cursor: pointer; }
        .video-section__search-suggestions--item a:hover {
          border: 1px solid #ffffff; }
  .video-section__at-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 2; }
    .video-section__at-link a {
      transition: all 0.2s ease-in-out;
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
      margin: 0;
      padding: 0;
      border: 0; }
      .video-section__at-link a:hover {
        opacity: 1; }
  .video-section__video {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    filter: brightness(0.3);
    justify-content: center;
    z-index: 1; }
    .video-section__video--video-tag {
      opacity: 1;
      position: absolute;
      height: 100vh;
      max-width: none;
      transition: all 0.8 ease-in-out;
      font-size: 100%;
      object-fit: contain; }
      @media (min-width: 48em) {
        .video-section__video--video-tag {
          width: 100vw;
          height: auto; } }

.filter-nav {
  position: relative;
  background: #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 32px; }
  @media (min-width: 48em) {
    .filter-nav {
      padding-right: 32px;
      padding-left: 32px; } }
  @media (max-width: 59.9375em) {
    .filter-nav {
      padding-top: 16px; } }
  .filter-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    line-height: 28px;
    font-weight: 400; }
    @media (max-width: 59.9375em) {
      .filter-nav__inner {
        flex-wrap: wrap; } }
    .filter-nav__inner--popular {
      margin-right: 40px; }
      @media (max-width: 59.9375em) {
        .filter-nav__inner--popular {
          margin-right: 15px; } }
      .filter-nav__inner--popular--dropdown {
        z-index: 3;
        display: inline-block;
        position: relative;
        white-space: nowrap; }
        .filter-nav__inner--popular--dropdown .dropdown-link {
          font-size: 14px;
          line-height: 20px;
          transition: color 200ms ease;
          color: #6e6d7a;
          background-color: transparent;
          box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
          min-width: 115px;
          white-space: nowrap;
          box-sizing: border-box;
          text-align: left;
          height: 40px;
          padding: 10px 16px;
          padding-right: 35px;
          border: none;
          border-radius: 8px;
          outline: none;
          text-decoration: none;
          cursor: pointer;
          appearance: none;
          margin: 0;
          display: inline-block;
          position: relative;
          transition: color 200ms ease; }
          .filter-nav__inner--popular--dropdown .dropdown-link:hover {
            border-color: #ea4c8966;
            -webkit-box-shadow: 0 0 0 4px #ea4c891a;
            box-shadow: 0 0 0 4px #ea4c891a; }
          .filter-nav__inner--popular--dropdown .dropdown-link .btn-dropdown-popular {
            fill: #9e9ea7;
            position: absolute;
            top: 40%;
            right: 15px;
            width: 10px;
            height: 10px;
            margin: 0;
            display: block;
            max-width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; }
          .filter-nav__inner--popular--dropdown .dropdown-link .popular-text {
            font-weight: 400;
            line-height: 20px;
            margin: 0;
            padding: 0;
            border: 0;
            color: #6e6d7a;
            font-size: 14px; }
        .filter-nav__inner--popular--dropdown .dropdown-link-filters {
          padding: 0;
          margin: 0;
          box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
          color: #0d0c22;
          display: inline-block;
          white-space: nowrap;
          position: relative;
          box-sizing: border-box;
          height: 40px;
          padding: 10px 16px;
          transition: color 200ms ease;
          border: none;
          border-radius: 8px;
          outline: none;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px; }
          .filter-nav__inner--popular--dropdown .dropdown-link-filters:hover {
            box-shadow: 0px 0px 0px 1px #dbdbde inset; }
          .filter-nav__inner--popular--dropdown .dropdown-link-filters .btn-dropdown-filters {
            display: inline-block;
            margin-left: 0;
            margin-right: 4px;
            width: 13px;
            height: 13px;
            margin-top: -3px;
            fill: currentColor;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px; }
          .filter-nav__inner--popular--dropdown .dropdown-link-filters .filters-text {
            order: 2;
            display: inline-block;
            font-weight: normal;
            margin: 0;
            padding: 0;
            border: 0;
            color: currentColor;
            font-size: 15px; }

.main {
  width: 100%;
  padding: 32px 0 40px 0; }
  @media (max-width: 59.9375em) {
    .main {
      padding: 16px 0; } }
  .main__content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 14px; }
    @media (max-width: 59.9375em) {
      .main__content {
        width: auto;
        float: none; } }
    .main__content--full {
      max-width: none;
      width: auto;
      float: none; }
      @media (max-width: 59.9375em) {
        .main__content--full {
          margin-bottom: 40px; } }
      .main__content--full--grid {
        display: grid;
        gap: 36px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        list-style: none;
        position: relative;
        padding-right: 20px;
        padding-left: 20px; }
        @media (min-width: 48em) {
          .main__content--full--grid {
            padding-right: 32px;
            padding-left: 32px; } }
        @media (min-width: 75em) {
          .main__content--full--grid {
            padding-right: 72px;
            padding-left: 72px; } }
        @media (min-width: 100em) {
          .main__content--full--grid {
            grid-template-columns: repeat(auto-fill, minmax(336px, 1fr)); } }
        .main__content--full--grid--item {
          margin: 0;
          padding: 0;
          border: 0;
          display: list-item;
          list-style: none; }
          .main__content--full--grid--item:hover .item__top--top--icon .icon {
            display: none; }
          .main__content--full--grid--item:hover .item__top--middle {
            opacity: 1; }
          .main__content--full--grid--item .item__top {
            position: relative;
            height: 0;
            padding-bottom: 75%;
            overflow: hidden;
            border-radius: 8px; }
            .main__content--full--grid--item .item__top:hover .item__top--video {
              display: block !important;
              visibility: visible !important; }
            .main__content--full--grid--item .item__top:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              pointer-events: none;
              background: linear-gradient(to bottom, transparent 0%, transparent 8.1%, rgba(0, 0, 0, 0.001) 15.5%, rgba(0, 0, 0, 0.003) 22.5%, rgba(0, 0, 0, 0.005) 29%, rgba(0, 0, 0, 0.008) 35.3%, rgba(0, 0, 0, 0.011) 41.2%, rgba(0, 0, 0, 0.014) 47.1%, rgba(0, 0, 0, 0.016) 52.9%, rgba(0, 0, 0, 0.019) 58.8%, rgba(0, 0, 0, 0.022) 64.7%, rgba(0, 0, 0, 0.025) 71%, rgba(0, 0, 0, 0.027) 77.5%, rgba(0, 0, 0, 0.029) 84.5%, rgba(0, 0, 0, 0.03) 91.9%, rgba(0, 0, 0, 0.03) 100%); }
            .main__content--full--grid--item .item__top--video {
              position: absolute;
              z-index: 2;
              width: 100%;
              height: 100%;
              border-radius: 8px;
              pointer-events: none;
              object-fit: cover; }
            .main__content--full--grid--item .item__top--figure {
              margin: 0;
              overflow: hidden;
              z-index: 1; }
              .main__content--full--grid--item .item__top--figure:before {
                content: "";
                display: block;
                padding-top: 75%; }
              .main__content--full--grid--item .item__top--figure > * {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0; }
              .main__content--full--grid--item .item__top--figure .lazyloaded {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0;
                padding: 0;
                border: 0; }
            .main__content--full--grid--item .item__top--top {
              display: flex;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              align-items: center;
              justify-content: flex-end;
              height: 40px;
              padding: 0 12px; }
              .main__content--full--grid--item .item__top--top--icon {
                transform: translateY(-1px);
                display: flex;
                align-items: center;
                margin-left: 12px;
                opacity: 1;
                color: #ffffff; }
                .main__content--full--grid--item .item__top--top--icon .icon {
                  width: 16px;
                  height: 16px;
                  overflow: visible;
                  stroke: rgba(0, 0, 0, 0.2); }
            .main__content--full--grid--item .item__top--middle {
              display: flex;
              z-index: 2;
              align-items: flex-end;
              padding: 20px;
              transition: opacity 300ms ease;
              border-radius: 8px;
              opacity: 0;
              background: linear-gradient(180deg, transparent 62%, rgba(0, 0, 0, 0.00345888) 63.94%, rgba(0, 0, 0, 0.014204) 65.89%, rgba(0, 0, 0, 0.0326639) 67.83%, rgba(0, 0, 0, 0.0589645) 69.78%, rgba(0, 0, 0, 0.0927099) 71.72%, rgba(0, 0, 0, 0.132754) 73.67%, rgba(0, 0, 0, 0.177076) 75.61%, rgba(0, 0, 0, 0.222924) 77.56%, rgba(0, 0, 0, 0.267246) 79.5%, rgba(0, 0, 0, 0.30729) 81.44%, rgba(0, 0, 0, 0.341035) 83.39%, rgba(0, 0, 0, 0.367336) 85.33%, rgba(0, 0, 0, 0.385796) 87.28%, rgba(0, 0, 0, 0.396541) 89.22%, rgba(0, 0, 0, 0.4) 91.17%);
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              pointer-events: none; }
              .main__content--full--grid--item .item__top--middle--info {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: space-between;
                min-width: 0; }
                .main__content--full--grid--item .item__top--middle--info .project-title {
                  color: #ffffff;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 22px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap; }
                .main__content--full--grid--item .item__top--middle--info .two-icons {
                  display: flex;
                  flex: 1;
                  justify-content: flex-end;
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  border: 0; }
                  .main__content--full--grid--item .item__top--middle--info .two-icons__list {
                    margin-left: 12px;
                    padding: 0;
                    border: 0;
                    list-style: none; }
                    .main__content--full--grid--item .item__top--middle--info .two-icons__list__link {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 34px;
                      height: 34px;
                      padding: 0;
                      color: #6e6d7a;
                      pointer-events: auto;
                      background: #f3f3f4;
                      position: relative;
                      box-sizing: border-box;
                      transition: color 200ms ease;
                      border: none;
                      border-radius: 8px;
                      outline: none;
                      text-align: center;
                      text-decoration: none;
                      cursor: pointer;
                      appearance: none;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 20px; }
                      .main__content--full--grid--item .item__top--middle--info .two-icons__list__link:hover {
                        background: #e3e3e6; }
                      .main__content--full--grid--item .item__top--middle--info .two-icons__list__link svg {
                        width: 16px;
                        height: 16px;
                        margin: 0;
                        fill: currentColor;
                        vertical-align: middle; }
          .main__content--full--grid--item .item__bottom {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px; }
            .main__content--full--grid--item .item__bottom--left {
              display: flex;
              align-items: center;
              min-width: 0; }
              .main__content--full--grid--item .item__bottom--left--detail {
                display: flex;
                align-items: center;
                min-width: 0;
                text-decoration: none; }
                .main__content--full--grid--item .item__bottom--left--detail img {
                  width: 24px;
                  height: 24px;
                  overflow: hidden;
                  border-radius: 50%;
                  margin: 0;
                  padding: 0; }
                .main__content--full--grid--item .item__bottom--left--detail .display-name {
                  padding: 0;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  flex: 1;
                  margin-left: 8px;
                  color: #0d0c22;
                  text-decoration: none; }
              .main__content--full--grid--item .item__bottom--left--team {
                display: flex;
                margin: 0;
                padding: 0;
                margin-left: 8px;
                text-decoration: none; }
                .main__content--full--grid--item .item__bottom--left--team:hover .team-pro {
                  background-color: #ea4c89; }
                .main__content--full--grid--item .item__bottom--left--team .team-pro {
                  margin: 0;
                  padding: 2px 3px;
                  border-radius: 3px;
                  background-color: #ccc;
                  color: #ffffff;
                  font-size: 10px;
                  font-weight: bold;
                  line-height: 1;
                  text-transform: uppercase; }
            .main__content--full--grid--item .item__bottom--right {
              display: flex;
              flex: 1;
              justify-content: flex-end;
              color: #9e9ea7;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px; }
              .main__content--full--grid--item .item__bottom--right--love {
                display: inline-flex;
                align-items: center;
                margin-left: 8px; }
                .main__content--full--grid--item .item__bottom--right--love .love__link {
                  display: flex;
                  text-decoration: none;
                  margin: 0;
                  padding: 0; }
                  .main__content--full--grid--item .item__bottom--right--love .love__link .love-icon {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                    transition: color 200ms ease;
                    color: #9e9ea7;
                    fill: currentColor; }
                    .main__content--full--grid--item .item__bottom--right--love .love__link .love-icon:hover {
                      color: #ea4c89; }
                .main__content--full--grid--item .item__bottom--right--love .loves-count {
                  color: #3d3d4e;
                  font-weight: 500;
                  line-height: 16px; }
              .main__content--full--grid--item .item__bottom--right--view {
                display: flex;
                align-items: center;
                margin-left: 8px; }
                .main__content--full--grid--item .item__bottom--right--view .view-icon {
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                  transition: color 200ms ease;
                  color: #9e9ea7;
                  fill: currentColor;
                  font-weight: 400;
                  line-height: 16px; }
                  .main__content--full--grid--item .item__bottom--right--view .view-icon:hover {
                    color: #ea4c89; }
                .main__content--full--grid--item .item__bottom--right--view .views-count {
                  color: #3d3d4e;
                  font-weight: 500;
                  line-height: 16px; }
      .main__content--full--login {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px; }
        @media (min-width: 31.25em) {
          .main__content--full--login {
            display: block; } }
        @media (min-width: 48em) {
          .main__content--full--login {
            padding-left: 32px;
            padding-right: 32px; } }
        @media (min-width: 75em) {
          .main__content--full--login {
            padding-left: 72px;
            padding-right: 72px; } }
        .main__content--full--login--signup {
          max-width: 400px;
          margin: 0 auto;
          margin-top: 15px;
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: #ffffff;
          display: inline-block;
          position: relative;
          height: 40px;
          transition: color 200ms ease;
          border: none;
          border-radius: 8px;
          outline: none;
          background: #ea4c89;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          appearance: none;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px; }
          .main__content--full--login--signup:hover {
            background: #ec82ac; }
        .main__content--full--login--signin {
          margin: 0 auto;
          margin-top: 15px;
          padding: 0;
          padding-left: 60px;
          padding-right: 60px;
          transition: color 200ms ease;
          color: #ea4c89;
          text-decoration: none;
          text-align: center; }
          .main__content--full--login--signin:hover {
            color: #ec82ac; }
      .main__content--full--back-to-top {
        display: block;
        position: fixed;
        z-index: 5;
        right: 20px;
        bottom: 15px; }
        .main__content--full--back-to-top a {
          opacity: 0.37;
          margin: 0;
          padding: 0;
          text-decoration: none; }
          .main__content--full--back-to-top a img {
            width: 50px;
            height: 50px;
            border: none; }

.footer {
  background: #fafafb;
  color: #3d3d4e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }
  .footer__center-larg {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; }
    @media (min-width: 48em) {
      .footer__center-larg {
        max-width: 1680px;
        padding-left: 32px;
        padding-right: 32px; } }
    @media (min-width: 75em) {
      .footer__center-larg {
        padding-left: 72px;
        padding-right: 72px; } }
    .footer__center-larg--main-content {
      display: flex;
      flex-direction: column;
      padding: 48px 0 32px;
      border-bottom: 1px solid #e7e7e9; }
      @media (min-width: 72.5em) {
        .footer__center-larg--main-content {
          flex-direction: row;
          padding: 72px 0; } }
      .footer__center-larg--main-content .left a {
        text-decoration: none;
        margin: 0;
        padding: 0; }
        .footer__center-larg--main-content .left a .dribbble-wordmark {
          transition: fill 200ms ease;
          fill: #ea4c89;
          width: 104px;
          height: 26px; }
          .footer__center-larg--main-content .left a .dribbble-wordmark:hover {
            fill: #bb3d6e; }
        .footer__center-larg--main-content .left a .accessibility-text {
          position: absolute;
          width: 0;
          overflow: hidden;
          opacity: 0; }
      .footer__center-larg--main-content .left__explain-text {
        max-width: 256px;
        margin: 20px 0;
        font-size: 100%; }
      .footer__center-larg--main-content .left__social-icons-container--link {
        color: #3d3d4e;
        transition: color 200ms ease;
        text-decoration: none;
        padding: 0;
        margin: 0;
        font-weight: 400;
        line-height: 20px; }
        .footer__center-larg--main-content .left__social-icons-container--link svg {
          max-width: 18px;
          max-height: 18px;
          margin-top: 8px;
          margin-right: 14px;
          fill: currentColor;
          display: inline; }
        .footer__center-larg--main-content .left__social-icons-container--link:hover {
          color: #0d0c22; }
      .footer__center-larg--main-content .right-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        @media (min-width: 48em) {
          .footer__center-larg--main-content .right-links {
            flex-wrap: nowrap; } }
        .footer__center-larg--main-content .right-links__column {
          line-height: 20px;
          font-weight: 400;
          color: #3d3d4e;
          width: 50%; }
          @media (min-width: 72.5em) {
            .footer__center-larg--main-content .right-links__column {
              width: 144px;
              margin-left: 40px;
              margin-right: 0; } }
          @media (min-width: 100em) {
            .footer__center-larg--main-content .right-links__column {
              margin-left: 72px; } }
          @media (min-width: 72.5em) {
            .footer__center-larg--main-content .right-links__column:first-child {
              margin-left: 60px; } }
          @media (min-width: 100em) {
            .footer__center-larg--main-content .right-links__column:first-child {
              margin-left: 128px; } }
          .footer__center-larg--main-content .right-links__column .link-heading {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #0d0c22;
            margin-top: 32px; }
            @media (min-width: 72.5em) {
              .footer__center-larg--main-content .right-links__column .link-heading {
                margin-top: 0; } }
          .footer__center-larg--main-content .right-links__column .link {
            display: block;
            margin-top: 16px;
            color: #3d3d4e;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            transition: color 200ms ease; }
            .footer__center-larg--main-content .right-links__column .link:hover {
              color: #0d0c22; }
    .footer__center-larg--bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 32px 0;
      color: #6e6d7a; }
      @media (min-width: 72.5em) {
        .footer__center-larg--bottom {
          flex-direction: row;
          padding: 44px 0; } }
      .footer__center-larg--bottom .dribbble-shots {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; }
        @media (min-width: 72.5em) {
          .footer__center-larg--bottom .dribbble-shots {
            flex-direction: row; } }
        .footer__center-larg--bottom .dribbble-shots__count {
          margin: 0;
          padding: 0;
          color: #0d0c22;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px; }
        .footer__center-larg--bottom .dribbble-shots .dribbble-ball {
          width: 24px;
          height: 24px;
          margin-top: 8px;
          margin-bottom: 8px; }
          @media (min-width: 72.5em) {
            .footer__center-larg--bottom .dribbble-shots .dribbble-ball {
              margin-top: 0;
              margin-bottom: 0;
              margin-left: 8px; } }
