/* CSS Reset Starts */
/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box; }

/*
      2. Remove default margin
    */
* {
  margin: 0; }

/*
      3. Allow percentage-based heights in the application
    */
html,
body {
  background-color: var(--body--background--color);
  height: 100%;
  font-family: Roboto, Arial, sans-serif; }

/*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
    */
body {
  -webkit-font-smoothing: antialiased; }

/*
      6. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

/*
      7. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit; }

/*
      8. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

/*
      9. Create a root stacking context
    */
#root,
#__next {
  isolation: isolate; }

::-moz-selection {
  /* Code for Firefox */
  color: #f9e3ee;
  background: #e84c89; }

::selection {
  color: #f9e3ee;
  background: #e84c89; }

/* CSS Reset Ends */
/* Header Section Strarted */
.header {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1;
  position: fixed;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }
  @media (min-width: 57.5em) {
    .header {
      height: 80px;
      position: relative; } }
  .header__menu-div {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    cursor: pointer; }
    @media (min-width: 57.5em) {
      .header__menu-div {
        display: none; } }
    .header__menu-div--svg {
      fill: #9e9ea7;
      font-weight: 400;
      width: 18px;
      height: 18px; }
  .header__dribbble-div {
    margin-right: -36px;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0;
    flex-grow: 0;
    flex-shrink: 0; }
    @media (min-width: 57.5em) {
      .header__dribbble-div {
        margin-left: 24px;
        margin-right: 0; } }
    .header__dribbble-div--svg:hover {
      cursor: pointer; }
      @media (min-width: 57.5em) {
        .header__dribbble-div--svg:hover {
          opacity: 0.6; } }
    .header__dribbble-div--links {
      display: none;
      flex-direction: row;
      align-items: stretch;
      align-self: stretch;
      gap: 12px;
      list-style: none;
      margin-right: auto;
      margin-left: 22px;
      padding-left: 0;
      font-size: 15px;
      color: #6e6d7a; }
      @media (min-width: 57.5em) {
        .header__dribbble-div--links {
          display: flex; } }
      .header__dribbble-div--links li {
        font-weight: 500;
        font-family: inherit; }
        .header__dribbble-div--links li:hover {
          color: #0d0c22; }
        @media (min-width: 75em) {
          .header__dribbble-div--links li {
            padding-left: 10px;
            padding-right: 10px; } }
      .header__dribbble-div--links--parent {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header__dribbble-div--links--parent .header__dribbble-div--links--link {
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          text-decoration: none;
          color: inherit; }
        .header__dribbble-div--links--parent .hr__li {
          padding-right: 32px;
          padding-left: 32px;
          list-style: none; }
          .header__dribbble-div--links--parent .hr__li hr {
            display: block;
            height: 1px;
            border: 0;
            background: #e7e7e9;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em; }
        .header__dribbble-div--links--parent__div {
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          color: #0d0c22;
          text-align: center;
          top: 85%;
          left: -32px;
          border-radius: 12px;
          overflow: hidden;
          /* Position the tooltip text - see examples below! */
          z-index: 1;
          box-shadow: 0px 10px 70px #00000026;
          transition: visibility 200ms linear, opacity 150ms linear; }
        .header__dribbble-div--links--parent:hover .header__dribbble-div--links--parent__div {
          visibility: visible;
          opacity: 1; }
        .header__dribbble-div--links--parent .lists-parent {
          background-color: #ffffff;
          padding: 16px 0;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          width: 100%; }
          .header__dribbble-div--links--parent .lists-parent .list {
            height: auto;
            width: 100%;
            list-style: none;
            vertical-align: baseline;
            display: list-item;
            padding: 0;
            line-height: 20px; }
            .header__dribbble-div--links--parent .lists-parent .list .list--link {
              display: flex;
              align-items: center;
              margin: 0 22px;
              padding: 15px 18px;
              border-radius: 12px;
              text-decoration: none; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .left--svg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                margin-right: 16px;
                border-radius: 6px;
                transition: background-color 200ms ease;
                background: #f8f8f8; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .left--svg .header__link--svg {
                  width: 20px;
                  height: 20px; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 75%;
                overflow: hidden; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div .middle__text--div--top-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 15px;
                  font-weight: 500;
                  color: #0d0c22; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .middle__text--div .middle__text--div--bottom-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  text-align: left;
                  margin-top: 4px;
                  color: #6e6d7a;
                  word-break: break-word;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px; }
              .header__dribbble-div--links--parent .lists-parent .list .list--link .right__svg-div {
                margin-left: auto; }
                .header__dribbble-div--links--parent .lists-parent .list .list--link .right__svg-div--svg {
                  width: 12px;
                  height: 12px;
                  opacity: 0;
                  margin-right: 8px;
                  transition: transform 200ms ease-in, opacity 200ms ease-in; }
            .header__dribbble-div--links--parent .lists-parent .list:hover .right__svg-div--svg {
              transform: translateX(4px);
              opacity: 1; }
        .header__dribbble-div--links--parent .inspiration__div {
          width: 600px;
          height: 390px;
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0; }
          .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left {
            width: 400px; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .explore--icon {
              color: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--explore:hover .explore__svg {
              background-color: rgba(114, 78, 145, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .explore__right__svg-div {
              fill: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .new--icon {
              color: #e54f6d; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--new:hover .new__svg {
              background-color: rgba(229, 79, 109, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .new__right__svg-div {
              fill: #e54f6d; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .playoffs--icon {
              color: #74c4ba; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--playoffs:hover .playoffs__svg {
              background-color: rgba(116, 196, 186, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .playoffs__right__svg-div {
              fill: #74c4ba; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .blog--icon {
              color: #f8c630; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--blog:hover .blog__svg {
              background-color: rgba(248, 198, 48, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .blog__right__svg-div {
              fill: #f8c630; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .weekly--icon {
              color: #724e91; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .inspiration__div--left--weekly:hover .weekly__svg {
              background-color: rgba(114, 78, 145, 0.1); }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--left .weekly__right__svg-div {
              fill: #724e91; }
          .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right {
            width: 200px;
            background-color: #f8f8f8;
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            overflow: hidden;
            list-style: none; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right .browse {
              text-align: start;
              color: #0d0c22;
              font-size: 15px;
              font-weight: 500;
              padding-left: 36px; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right .pointer-curser {
              width: 100%;
              cursor: pointer; }
            .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links {
              padding: 0;
              margin: 0; }
              .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links a {
                padding: 9px 36px;
                font-size: 100%;
                text-align: start;
                display: block;
                transition: color 200ms ease;
                margin: 0;
                text-decoration: none;
                color: #6e6d7a;
                font-weight: 400; }
              .header__dribbble-div--links--parent .inspiration__div .inspiration__div--right--links:hover a {
                color: #0d0c22; }
        .header__dribbble-div--links--parent .find-work__div {
          width: 400px;
          height: 327px; }
          .header__dribbble-div--links--parent .find-work__div .job--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--job:hover .job__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .job__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .find-work__div .freelance--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--freelance:hover .freelance__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .freelance__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .find-work__div .red__text {
            margin-left: 8px;
            background-color: #ea4c89;
            color: #ffffff;
            font-weight: 500;
            font-size: 10px;
            border-radius: 4px;
            padding: 0 4px;
            align-items: center; }
          .header__dribbble-div--links--parent .find-work__div .want--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--want:hover .want__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .want__right__svg-div {
            fill: #74c4ba; }
          .header__dribbble-div--links--parent .find-work__div .personalize--icon {
            color: #f8c630; }
          .header__dribbble-div--links--parent .find-work__div .inspiration__div--left--personalize:hover .personalize__svg {
            background-color: rgba(248, 198, 48, 0.1); }
          .header__dribbble-div--links--parent .find-work__div .personalize__right__svg-div {
            fill: #f8c630; }
        .header__dribbble-div--links--parent .learn-design__div {
          width: 400px;
          height: 430px; }
          .header__dribbble-div--links--parent .learn-design__div .certified--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--certified:hover .certified__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .certified__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .introduction--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--introduction:hover .introduction__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .introduction__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .learn-design__div .systems--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--systems:hover .systems__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .systems__right__svg-div {
            fill: #74c4ba; }
          .header__dribbble-div--links--parent .learn-design__div .career--icon {
            color: #f8c630; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--career:hover .career__svg {
            background-color: rgba(248, 198, 48, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .career__right__svg-div {
            fill: #f8c630; }
          .header__dribbble-div--links--parent .learn-design__div .browse--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .learn-design__div .inspiration__div--left--browse:hover .browse__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .learn-design__div .browse__right__svg-div {
            fill: #724e91; }
        .header__dribbble-div--links--parent .go-pro__div {
          width: 400px;
          height: 242px; }
          .header__dribbble-div--links--parent .go-pro__div .for-designers--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-designers:hover .for-designers__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .go-pro__div .for-freelancers--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-freelancers:hover .for-freelancers__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .go-pro__div .for-teams--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .go-pro__div .inspiration__div--left--for-teams:hover .for-teams__svg {
            background-color: rgba(116, 196, 186, 0.1); }
        .header__dribbble-div--links--parent .hire-designers__div {
          width: 400px;
          height: 242px; }
          .header__dribbble-div--links--parent .hire-designers__div .designer--icon {
            color: #724e91; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--designer:hover .designer__svg {
            background-color: rgba(114, 78, 145, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .designer__right__svg-div {
            fill: #724e91; }
          .header__dribbble-div--links--parent .hire-designers__div .opening--icon {
            color: #e54f6d; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--opening:hover .opening__svg {
            background-color: rgba(229, 79, 109, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .opening__right__svg-div {
            fill: #e54f6d; }
          .header__dribbble-div--links--parent .hire-designers__div .post--icon {
            color: #74c4ba; }
          .header__dribbble-div--links--parent .hire-designers__div .inspiration__div--left--post:hover .post__svg {
            background-color: rgba(116, 196, 186, 0.1); }
          .header__dribbble-div--links--parent .hire-designers__div .post__right__svg-div {
            fill: #74c4ba; }
  .header__sign-in-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px; }
    @media (min-width: 57.5em) {
      .header__sign-in-div {
        margin-right: 24px; } }
    .header__sign-in-div--sign-in {
      text-decoration: none;
      color: #6e6d7a;
      font-weight: 400; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--sign-in {
          margin-right: 3px; } }
    .header__sign-in-div--sign-up {
      text-decoration: none;
      color: #6e6d7a;
      font-weight: 400;
      font-family: inherit;
      color: #ffffff;
      background-color: #ea4c89;
      padding: 11px 16px;
      border-radius: 8px;
      font-size: 15px;
      margin-left: 18px;
      transition: background-color 100ms ease;
      display: none; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--sign-up {
          display: inline-block; } }
      .header__sign-in-div--sign-up:hover {
        background-color: #ec82ac; }
    .header__sign-in-div--svg {
      fill: #9e9ea7;
      width: 18px;
      height: 18px;
      margin-right: 23px;
      margin-bottom: -4px;
      cursor: pointer;
      display: none; }
      @media (min-width: 57.5em) {
        .header__sign-in-div--svg {
          display: inline-block; } }

.test-div {
  height: 150vh; }
