@import "variables";
@import "media";

// filter at bottom of video section starts here
.filter-nav {
  position: relative;
  background: $white--color;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 32px;

  @include small-768 {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include medium-959 {
    padding-top: 16px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    line-height: 28px;
    font-weight: 400;

    @include medium-959 {
      flex-wrap: wrap;
    }

    // popular dropdown setup
    &--popular {
      margin-right: 40px;

      @include medium-959 {
        margin-right: 15px;
      }

      &--dropdown {
        z-index: 3;
        display: inline-block;
        position: relative;
        white-space: nowrap;

        .dropdown-link {
          font-size: 14px;
          line-height: 20px;
          transition: color 200ms ease;
          color: $header-sign-in-text-search-icon-color;

          background-color: transparent;
          box-shadow: 0px 0px 0px 1px #e7e7e9 inset;

          min-width: 115px;
          white-space: nowrap;
          box-sizing: border-box;
          text-align: left;
          height: 40px;
          padding: 10px 16px;
          padding-right: 35px;
          border: none;
          border-radius: 8px;
          outline: none;
          text-decoration: none;
          cursor: pointer;
          appearance: none;
          margin: 0;
          display: inline-block;
          position: relative;

          transition: color 200ms ease;

          &:hover {
            border-color: #ea4c8966;
            -webkit-box-shadow: 0 0 0 4px #ea4c891a;
            box-shadow: 0 0 0 4px #ea4c891a;
          }

          .btn-dropdown-popular {
            fill: $menu--sign-in--icons-and-header-links--color;
            position: absolute;
            top: 40%;
            right: 15px;
            width: 10px;
            height: 10px;
            margin: 0;
            display: block;
            max-width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }

          .popular-text {
            font-weight: 400;
            line-height: 20px;
            margin: 0;
            padding: 0;
            border: 0;
            color: #6e6d7a;
            font-size: 14px;
          }
        }

        // filter button setup
        .dropdown-link-filters {
          padding: 0;
          margin: 0;
          box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
          color: #0d0c22;
          display: inline-block;
          white-space: nowrap;
          position: relative;
          box-sizing: border-box;
          height: 40px;
          padding: 10px 16px;
          transition: color 200ms ease;
          border: none;
          border-radius: 8px;
          outline: none;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          &:hover {
            box-shadow: 0px 0px 0px 1px #dbdbde inset;
          }

          .btn-dropdown-filters {
            display: inline-block;
            margin-left: 0;
            margin-right: 4px;
            width: 13px;
            height: 13px;
            margin-top: -3px;
            fill: currentColor;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }

          .filters-text {
            order: 2;
            display: inline-block;
            font-weight: normal;
            margin: 0;
            padding: 0;
            border: 0;
            color: currentColor;
            font-size: 15px;
          }
        }
      }
    }
  }
  // filter at bottom of video section ends here
}
