@import "../scss/variables";
@import "../scss/media";

/* Header Section Strarted */
.header {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $white--color;

  line-height: 20px;

  z-index: 10;
  position: fixed;
  top: 0;

  // three lines
  // for text not to be selectable
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  // change the size of header in 920px size
  @include medium-920 {
    height: 80px;
    position: relative;
  }

  // menu svg only for small/mobile size
  &__menu-div {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    cursor: pointer;

    @include medium-920 {
      display: none;
    }

    &--svg {
      fill: $menu--sign-in--icons-and-header-links--color;
      font-weight: 400;
      width: 18px;
      height: 18px;
    }
  }

  // dribbble svg and the list of droppdowns
  &__dribbble-div {
    margin-right: -36px;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0;
    flex-grow: 0;
    flex-shrink: 0;

    @include medium-920 {
      margin-left: 24px;
      margin-right: 0;
    }

    // dribbble svg hover section
    &--svg:hover {
      cursor: pointer;
      @include medium-920 {
        opacity: 0.6;
      }
    }

    // Droppdown links in header
    &--links {
      display: none;
      flex-direction: row;
      align-items: stretch;
      align-self: stretch;
      gap: 12px;
      list-style: none;
      margin-right: auto;
      margin-left: 22px;
      padding-left: 0;
      font-size: 15px;
      color: $header-sign-in-text-search-icon-color;

      @include medium-920 {
        display: flex;
      }

      // droppdown links
      li {
        font-weight: 500;
        font-family: inherit;

        &:hover {
          color: $drible-icon-and--header-links-hover--color;
        }

        @include medium-1200 {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      // droppdown links
      // relative and hoverable
      &--parent {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        // links text setup
        .header__dribbble-div--links--link {
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          text-decoration: none;
          color: inherit;
        }

        .hr__li {
          padding-right: 32px;
          padding-left: 32px;
          list-style: none;

          // horizintal row in Inspiration droppdown
          hr {
            display: block;
            height: 1px;
            border: 0;
            background: $header-background-color;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
          }
        }

        // the main setup for dropdowns
        &__div {
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          color: $drible-icon-and--header-links-hover--color;
          text-align: center;
          top: 85%;
          left: -32px;
          border-radius: 12px;
          overflow: hidden;
          /* Position the tooltip text - see examples below! */
          z-index: 1;

          // shadow for droppdowns
          box-shadow: 0px 10px 70px #00000026;
          transition: visibility 200ms linear, opacity 150ms linear;
        }

        // droppdown visible when hover parent link
        &:hover .header__dribbble-div--links--parent__div {
          visibility: visible;
          opacity: 1;
        }

        // droppdown list-links div main setup
        .lists-parent {
          background-color: $white--color;
          padding: 16px 0;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          width: 100%;

          // droppdown list main setup
          .list {
            height: auto;
            width: 100%;
            list-style: none;
            vertical-align: baseline;
            display: list-item;
            padding: 0;
            line-height: 20px;

            //links inside dropdown, main setup
            .list--link {
              display: flex;
              align-items: center;
              margin: 0 22px;
              padding: 15px 18px;
              border-radius: 12px;
              text-decoration: none;

              // the svg on left side of dropdowns main setup
              .left--svg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                margin-right: 16px;
                border-radius: 6px;
                transition: background-color 200ms ease;
                background: $header--svg--div--color;

                // dropdown svg size
                .header__link--svg {
                  width: 20px;
                  height: 20px;
                }
              }

              // text in dropdown between svgs main setup
              .middle__text--div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 75%;
                overflow: hidden;

                // droppdown links top text main setup
                .middle__text--div--top-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  font-size: 15px;
                  font-weight: 500;
                  color: $middle-text-div--top-text-color;
                }

                // droppdown links bottom text main setup
                .middle__text--div--bottom-text {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  text-align: left;
                  margin-top: 4px;
                  color: $middle-text-div--bottom-text--color;
                  word-break: break-word;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px;
                }
              }

              // dropdown links right svgs main setup
              .right__svg-div {
                margin-left: auto;
                &--svg {
                  width: 12px;
                  height: 12px;
                  opacity: 0;
                  margin-right: 8px;
                  transition: transform 200ms ease-in, opacity 200ms ease-in;
                }
              }
            }

            // dropdown links right svgs hover transform
            &:hover .right__svg-div--svg {
              transform: translateX(4px);
              opacity: 1;
            }
          }
        }

        //inspiration dropdown
        .inspiration__div {
          width: 600px;
          height: 390px;
          display: flex;
          align-items: stretch;
          visibility: hidden;
          opacity: 0;

          // inspiration left section
          .inspiration__div--left {
            width: 400px;

            // explore section
            .explore--icon {
              color: $purple--svg--color;
            }

            .inspiration__div--left--explore:hover .explore__svg {
              background-color: $header--svg--div--purple-hover--color;
            }

            .explore__right__svg-div {
              fill: $purple--svg--color;
            }

            // new section
            .new--icon {
              color: $red--svg--color;
            }
            .inspiration__div--left--new:hover .new__svg {
              background-color: $header--svg--div--red-hover--color;
            }
            .new__right__svg-div {
              fill: $red--svg--color;
            }

            //playoffs
            .playoffs--icon {
              color: $green--svg--color;
            }
            .inspiration__div--left--playoffs:hover .playoffs__svg {
              background-color: $header--svg--div--green-hover--color;
            }
            .playoffs__right__svg-div {
              fill: $green--svg--color;
            }

            //blog
            .blog--icon {
              color: $yellow--svg--color;
            }
            .inspiration__div--left--blog:hover .blog__svg {
              background-color: $header--svg--div--yellow-hover--color;
            }
            .blog__right__svg-div {
              fill: $yellow--svg--color;
            }

            //weekly warm-up
            .weekly--icon {
              color: $purple--svg--color;
            }
            .inspiration__div--left--weekly:hover .weekly__svg {
              background-color: $header--svg--div--purple-hover--color;
            }
            .weekly__right__svg-div {
              fill: $purple--svg--color;
            }
          }

          // inpiration dropdown right section
          .inspiration__div--right {
            width: 200px;
            background-color: $inspiration__div--right--color;
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            overflow: hidden;

            list-style: none;

            //inspiration right section header text
            .browse {
              text-align: start;
              color: $middle-text-div--top-text-color;
              font-size: 15px;
              font-weight: 500;
              padding-left: 36px;
            }

            // inspiration right section links div
            .pointer-curser {
              width: 100%;
              cursor: pointer;
            }

            // inspiration right list items
            &--links {
              padding: 0;
              margin: 0;

              // inspiration right links setup
              a {
                padding: 9px 36px;
                font-size: 100%;
                text-align: start;
                display: block;
                transition: color 200ms ease;
                margin: 0;
                text-decoration: none;
                color: $middle-text-div--bottom-text--color;
                font-weight: 400;
                line-height: 20px;
              }

              &:hover a {
                color: $middle-text-div--top-text-color;
              }
            }
          }
        }

        // header Find Work dropdown section
        .find-work__div {
          width: 400px;
          height: 327px;

          //job board
          .job--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--job:hover .job__svg {
            background-color: $header--svg--div--purple-hover--color;
          }
          .job__right__svg-div {
            fill: $purple--svg--color;
          }

          //freelance projects pro+
          .freelance--icon {
            color: $red--svg--color;
          }
          .inspiration__div--left--freelance:hover .freelance__svg {
            background-color: $header--svg--div--red-hover--color;
          }
          .freelance__right__svg-div {
            fill: $red--svg--color;
          }

          // red background text in find work hover section
          .red__text {
            margin-left: 8px;
            background-color: $sign-up--button--color;
            color: $white--color;
            font-weight: 500;
            font-size: 10px;
            border-radius: 4px;
            padding: 0 4px;
            align-items: center;
          }

          //Want freelance design projects?
          .want--icon {
            color: $green--svg--color;
          }
          .inspiration__div--left--want:hover .want__svg {
            background-color: $header--svg--div--green-hover--color;
          }
          .want__right__svg-div {
            fill: $green--svg--color;
          }

          //Personalize your profile with video
          .personalize--icon {
            color: $yellow--svg--color;
          }
          .inspiration__div--left--personalize:hover .personalize__svg {
            background-color: $header--svg--div--yellow-hover--color;
          }
          .personalize__right__svg-div {
            fill: $yellow--svg--color;
          }
        }

        // header Learn Design dropdown section
        .learn-design__div {
          width: 400px;
          height: 430px;

          //Certified Product Design Course
          .certified--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--certified:hover .certified__svg {
            background-color: $header--svg--div--purple-hover--color;
          }
          .certified__right__svg-div {
            fill: $purple--svg--color;
          }

          //Introduction to UI Design
          .introduction--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--introduction:hover .introduction__svg {
            background-color: $header--svg--div--red-hover--color;
          }
          .introduction__right__svg-div {
            fill: $red--svg--color;
          }

          //Design Systems Course
          .systems--icon {
            color: $green--svg--color;
          }
          .inspiration__div--left--systems:hover .systems__svg {
            background-color: $header--svg--div--green-hover--color;
          }
          .systems__right__svg-div {
            fill: $green--svg--color;
          }

          //Design Career Prep Course
          .career--icon {
            color: $yellow--svg--color;
          }
          .inspiration__div--left--career:hover .career__svg {
            background-color: $header--svg--div--yellow-hover--color;
          }
          .career__right__svg-div {
            fill: $yellow--svg--color;
          }

          //Browse our courses & workshops
          .browse--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--browse:hover .browse__svg {
            background-color: $header--svg--div--purple-hover--color;
          }
          .browse__right__svg-div {
            fill: $purple--svg--color;
          }
        }

        // header Go Pro dropdown section
        .go-pro__div {
          width: 400px;
          height: 242px;

          //for designers
          .for-designers--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--for-designers:hover .for-designers__svg {
            background-color: $header--svg--div--purple-hover--color;
          }

          //for freelancers
          .for-freelancers--icon {
            color: $red--svg--color;
          }
          .inspiration__div--left--for-freelancers:hover .for-freelancers__svg {
            background-color: $header--svg--div--red-hover--color;
          }

          //for teams
          .for-teams--icon {
            color: $green--svg--color;
          }
          .inspiration__div--left--for-teams:hover .for-teams__svg {
            background-color: $header--svg--div--green-hover--color;
          }
        }

        // header Hire Designers dropdown section
        .hire-designers__div {
          width: 400px;
          height: 242px;

          //Designer Search
          .designer--icon {
            color: $purple--svg--color;
          }
          .inspiration__div--left--designer:hover .designer__svg {
            background-color: $header--svg--div--purple-hover--color;
          }
          .designer__right__svg-div {
            fill: $purple--svg--color;
          }

          //list my job opening
          .opening--icon {
            color: $red--svg--color;
          }
          .inspiration__div--left--opening:hover .opening__svg {
            background-color: $header--svg--div--red-hover--color;
          }
          .opening__right__svg-div {
            fill: $red--svg--color;
          }

          //post a freelance project
          .post--icon {
            color: $green--svg--color;
          }
          .inspiration__div--left--post:hover .post__svg {
            background-color: $header--svg--div--green-hover--color;
          }
          .post__right__svg-div {
            fill: $green--svg--color;
          }
        }
      }
    }
  }

  // header right sign up section
  &__sign-in-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;

    @include medium-920 {
      margin-right: 24px;
    }

    // header sign in link
    &--sign-in {
      text-decoration: none;
      color: $header-sign-in-text-search-icon-color;
      font-weight: 400;

      @include medium-920 {
        margin-right: 3px;
      }
    }

    // header sign up link button
    &--sign-up {
      position: relative;
      box-sizing: border-box;
      text-decoration: none;
      color: $header-sign-in-text-search-icon-color;
      font-weight: 500;
      font-family: inherit;
      color: $white--color;
      background-color: $sign-up--button--color;
      padding: 10px 16px;
      height: 40px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 20px;
      margin-left: 18px;
      transition: background-color 200ms ease;
      display: none;
      border: none;
      outline: none;
      text-align: center;

      @include medium-920 {
        display: inline-block;
      }

      &:hover {
        background-color: $sign-ip--button-hover--color;
      }
    }

    // header search svg in right
    &--svg {
      fill: $menu--sign-in--icons-and-header-links--color;
      width: 18px;
      height: 18px;
      margin-right: 23px;
      margin-bottom: -4px;
      cursor: pointer;
      display: none;

      @include medium-920 {
        display: inline-block;
      }
    }
  }
}
