$white--color: #ffffff;
$black-color: #000;
$sign-up--button--color: #ea4c89;
$sign-ip--button-hover--color: #ec82ac;
$menu--sign-in--icons-and-header-links--color: #9e9ea7;
$header-sign-in-text-search-icon-color: #6e6d7a;
$drible-icon-and--header-links-hover--color: #0d0c22;
$search-bar--color: #f3f3f4;
$video-bottom-buttons--border--color: #393939;
$popular--buttons--border--color: #f1f1f2;
$selected-text-background-color: #e84c89;
$selected-text-color: #f9e3ee;
$inspiration__div--right--color: #f8f8f8;

// svg colors
$purple--svg--color: #724e91;
$red--svg--color: #e54f6d;
$green--svg--color: #74c4ba;
$yellow--svg--color: #f8c630;

//
$header--svg--div--color: #f8f8f8;

// svg hover colors
$header--svg--div--purple-hover--color: rgba(114, 78, 145, 0.1);
$header--svg--div--red-hover--color: rgba(229, 79, 109, 0.1);
$header--svg--div--green-hover--color: rgba(116, 196, 186, 0.1);
$header--svg--div--yellow-hover--color: rgba(248, 198, 48, 0.1);

//
$middle-text-div--top-text-color: #0d0c22;
$middle-text-div--bottom-text--color: #6e6d7a;
$header-background-color: #e7e7e9;

// video section colors
$video--button--background-color: rgba(0, 0, 0, 0.5);
$video--button--hover-color: #0d0c22;

$team-pro-background-color: #ccc;
