$white--color: #ffffff;
$sign-up--button--color: #ea4c89;
$sign-ip--button-hover--color: #ec82ac;
$menu--sign-in--icons-and-header-links--color: #9e9ea7;
$header-sign-in-text-search-icon-color: #6e6d7a;
$drible-icon-and--header-links-hover--color: #0d0c22;
$search-bar--color: #f3f3f4;
$video-bottom-buttons--border--color: #393939;
$popular--buttons--border--color: #f1f1f2;
$selected-text-background-color: #e84c89;
$selected-text-color: #f9e3ee;
